#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_303 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-minus-red-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5f319cdb-d9ee-4bed-a432-e133714032be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}