#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_303 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc #s-minus-red-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-67a5a768-897e-433c-a4c5-210b3ce3c9bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}