#s-70bb128e-46f2-4626-8d71-4815e1caf146 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_2 {
  position: absolute;
  top: 412px;
  left: 180px;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_3 {
  position: absolute;
  top: 121px;
  left: 142px;
  width: 97px;
  height: 97px;
  opacity: 0.17;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Text_1 {
  position: absolute;
  top: 327px;
  left: 74px;
  width: 228px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Text_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}