#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=17) ;
  filter: alpha(opacity=17) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}