#s-713e2002-2f76-4524-930b-948aa1d83a7a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Rectangle_1 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 372px;
  height: 600px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.78;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_36 {
  position: absolute;
  top: 340px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_36 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_36 span#rtr-s-Label_36_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_35 {
  position: absolute;
  top: 293px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_35 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_35 span#rtr-s-Label_35_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_34 {
  position: absolute;
  top: 249px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_34 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_34 span#rtr-s-Label_34_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_6 {
  position: absolute;
  top: 350px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_6 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_4 {
  position: absolute;
  top: 259px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_4 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_32 {
  position: absolute;
  top: 158px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_32 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_32 span#rtr-s-Label_32_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_33 {
  position: absolute;
  top: 202px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_33 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_33 span#rtr-s-Label_33_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_2 {
  position: absolute;
  top: 168px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_2 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Text_1 {
  position: absolute;
  top: 105px;
  left: 55px;
  width: 291px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_37 {
  position: absolute;
  top: 384px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_37 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_37 span#rtr-s-Label_37_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Button_1 {
  position: absolute;
  top: 451px;
  left: 268px;
  width: 78px;
  height: 29px;
  background-color: #6BCDFD;
  background-image: -moz-linear-gradient(top,#6BCDFD,#000000);
  background-image: -webkit-linear-gradient(top,#6BCDFD,#000000);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6BCDFD), color-stop(100%,#000000));
  background-image: -o-linear-gradient(top,#6BCDFD,#000000);
  background-image: linear-gradient(to bottom,#6BCDFD,#000000);
  opacity: 0.53;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_38 {
  position: absolute;
  top: 554px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  background-color: #6BCDFD;
  background-image: -moz-linear-gradient(top,#6BCDFD,#000000);
  background-image: -webkit-linear-gradient(top,#6BCDFD,#000000);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6BCDFD), color-stop(100%,#000000));
  background-image: -o-linear-gradient(top,#6BCDFD,#000000);
  background-image: linear-gradient(to bottom,#6BCDFD,#000000);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_38 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_38 span#rtr-s-Label_38_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_39 {
  position: absolute;
  top: 512px;
  left: 55px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  background-color: #6BCDFD;
  background-image: -moz-linear-gradient(top,#6BCDFD,#000000);
  background-image: -webkit-linear-gradient(top,#6BCDFD,#000000);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6BCDFD), color-stop(100%,#000000));
  background-image: -o-linear-gradient(top,#6BCDFD,#000000);
  background-image: linear-gradient(to bottom,#6BCDFD,#000000);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  opacity: 0.58;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_39 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_39 span#rtr-s-Label_39_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_9 {
  position: absolute;
  top: 522px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_9 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_3 {
  position: absolute;
  top: 211px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_3 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_5 {
  position: absolute;
  top: 302px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_5 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_7 {
  position: absolute;
  top: 393px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_7 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_10 {
  position: absolute;
  top: 563px;
  left: 173px;
  width: 160px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  opacity: 0.33;
  box-shadow: none;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_10 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_306 {
  position: absolute;
  top: 80px;
  left: 328px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_306 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_306 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_306 span#rtr-s-Label_306_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_290 {
  position: absolute;
  top: 620px;
  left: 320px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_290 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_290 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_290 span#rtr-s-Label_290_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}