#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_36 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_32 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_33 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_37 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=53) ;
  filter: alpha(opacity=53) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_38 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_39 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_306 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}