#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
  filter: alpha(opacity=78);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_35 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_33 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_37 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Button_1 {
  -pie-background: linear-gradient(to bottom,#6BCDFD,#000000);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=53);
  filter: alpha(opacity=53);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_38 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  -pie-background: linear-gradient(to bottom,#6BCDFD,#000000);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  -pie-background: linear-gradient(to bottom,#6BCDFD,#000000);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Input_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_306 {
  -ms-transform: rotate(0.0deg);
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-713e2002-2f76-4524-930b-948aa1d83a7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}