#s-77a594c9-ff0c-44f5-9f35-f5ec4c638d3b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-77a594c9-ff0c-44f5-9f35-f5ec4c638d3b #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-77a594c9-ff0c-44f5-9f35-f5ec4c638d3b #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #689ACA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #689ACA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #689ACA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #689ACA;
  -pie-background: linear-gradient(to bottom,#6BCDFD,#000000);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=94);
  filter: alpha(opacity=94);
  -ms-transform: rotate(0.0deg);
}
#s-77a594c9-ff0c-44f5-9f35-f5ec4c638d3b #s-Label_76 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-77a594c9-ff0c-44f5-9f35-f5ec4c638d3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}