#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=43);
  filter: alpha(opacity=43);
  -ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-up-blue {
  -ms-transform: rotate(90.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}