#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 {
  position: absolute;
  top: 282px;
  left: 0px;
  width: 375px;
  height: 78px;
  background-color: #666666;
  background-image: none;
  opacity: 0.43;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 18.0pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 span#rtr-s-Label_1_1 {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-up-blue {
  position: absolute;
  top: 357px;
  left: 169px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-up-blue .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-up-blue span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-up-blue span#rtr-s-up-blue_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}