#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=43) ;
  filter: alpha(opacity=43) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-up-blue {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}