#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 {
  position: absolute;
  top: 503px;
  left: 46px;
  width: 283px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 span#rtr-s-Label_76_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Dynamic_Panel_48 {
  position: absolute;
  top: 124px;
  left: 49px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Panel_50 {
  width: 293px;
  height: 97px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Panel_50 .verticalalign {
  vertical-align: top;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Group_1 {
  width: 291px;
  height: 43px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 18px;
  width: 268px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_2 {
  position: absolute;
  top: 10px;
  left: 118px;
  width: 160px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Line_17 {
  position: relative;
  width: 271px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Group_2 {
  width: 291px;
  height: 42px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 18px;
  width: 268px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 {
  position: absolute;
  top: 9px;
  left: 118px;
  width: 160px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 input {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 31px;
  position: absolute;
  overflow: hidden;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_1 .content {
  width: 36px;
  height: 31px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_1 {
  position: absolute;
  top: 3px;
  left: 248px;
  width: 36px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #shapewrapper-s-Ellipse_1 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Text_1 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 11px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 {
  position: absolute;
  top: 235px;
  left: 12px;
  width: 346px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 14.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #shapewrapper-s-Callout_2 {
  display: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Callout_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 176px;
  height: 92px;
  position: absolute;
  overflow: hidden;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Callout_2 .content {
  width: 176px;
  height: 92px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Callout_2 {
  position: absolute;
  top: 106px;
  left: -209px;
  width: 193px;
  height: 92px;
  background-color: #21C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #shapewrapper-s-Callout_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #shapewrapper-s-Callout_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #shapewrapper-s-Callout_2 span#rtr-s-Callout_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_1 {
  position: absolute;
  top: 560px;
  left: 63px;
  width: 255px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_152 {
  position: absolute;
  top: 564px;
  left: 160px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_152 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_152 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_152 span#rtr-s-Label_152_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_155 {
  position: absolute;
  top: 564px;
  left: 214px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_155 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_155 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_155 span#rtr-s-Label_155_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_153 {
  position: absolute;
  top: 565px;
  left: 267px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_153 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_153 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_153 span#rtr-s-Label_153_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Mail {
  position: absolute;
  top: 565px;
  left: 96px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Mail .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Mail span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Mail span#rtr-s-Mail_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}