#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 INPUT {
  font-family: Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Callout_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}