#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Input_3 INPUT {
  font-family: Arial;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_303 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_214 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_305 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_306 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_307 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a #s-Label_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa7074f1-4a7d-48c2-94b3-b07dfbc2658a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}