#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Input_3 INPUT {
  font-family: Arial;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_303 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_214 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_305 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=39) ;
  filter: alpha(opacity=39) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=62) ;
  filter: alpha(opacity=62) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Callout_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_306 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ff67a622-2319-42ea-9d22-14cbdefec330 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}