#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_102 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_182 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}